.App {
  text-align: center;
  /* position: relative; */
  /* height: 100vh;
  width: 100%; */
  /* overflow: hidden; */
}
body{
  height: 100vh;
  width : 100%;
  overflow: hidden;
}

.App {
  top: 0;
  margin: 0;
  padding: 0;
  height: 20px;
}


div > h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contain{
  background: transparent;
  color: white;
  position: relative;
}
.userParamsContainer {
  position: absolute;
  top: 0px;
  /* left: -900px; */
  left: 0px;
  padding: 50px; /* Add padding to create some space from the top and left edges */
  /* padding-left: 100px; */
}
