.App {
  text-align: center;
  /* position: relative; */
  /* height: 100vh;
  width: 100%; */
  /* overflow: hidden; */
}
body{
  height: 100vh;
  width : 0;
  overflow: hidden;
  background-color: transparent; 
}
h1{
  background-color: transparent;
  position:absolute;
  color: white;
  left: 50%;
  transform: translateX(-50%);
}
#root{
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent;
  /* z-index: -5; */
  height: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contain{
  
  color: white;
  position: absolute;
  padding: 200pxvh;
  height: 100%;
  background-color:transparent;
}
.userParamsContainer {
  position: relative;
  top: 0px;
  /* left: -900px; */
  left: 0px;
  min-width: 350px;
  /* height: calc(100vh - 100px); */
  height: calc(100% - 125px);
  border: 1px transparent solid;
  transition-duration: 0.5s;
  text-align: center;
  padding: 50px; /* Add padding to create some space from the top and left edges */
  padding-top: 10px;
  /* padding-left: 100px; */
}
.userParamsContainer:hover{
  border: 1px rgba(255, 255, 255, 0.5) solid !important;
}
#button-contain{
  min-width: 300px;
  margin-top: 70px;
  position: relative;
  color: white; 
}
.button{
  background-color: rgb(50, 224, 255);
  cursor: pointer !important;
  color:white;
  padding: 20px 40px 20px 40px;
  border: none;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  transition-duration: 0.5s; 
}
.button:hover{
  background-color: rgb(57, 186, 209);
}